<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='favicon/site.webmanifest')}}">
    <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">    <title>Correção</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
    <div class="card mt-3">
        <div class="card-header text-center fw-bold">
            Linhas corrigidas
        </div>
        <div class="card-body">
            <pre>
                {% if linhas_alteradas %}
                    {% for linha, conteudo in linhas_alteradas %}
                        Linha: {{ linha }} {{ conteudo }}
                    {% endfor %}
                {% else %}
                    Nenhuma linha alterada.
                {% endif %}
            </pre>
        </div>
    </div>
</div>
<div class="container mt-3 mb-3 text-center">
    <a href="/download_xml" class="btn btn-primary btn-lg w-100" download>Baixar XML Corrigido</a>
</div>

    <!-- Botão flutuante para alternar modo claro/escuro-->
    <div class="position-fixed bottom-0 start-0 mb-3 ms-3">
        <button type="button" class="btn btn-primary border shadow" title="Alternar entre Modo Claro e Escuro" id="btnSwitch">
            <i class="fa-solid fa-circle-half-stroke fa-bounce"></i>
        </button>
    </div>

    <!-- Botão "Voltar ao Topo" -->
    <div class="position-fixed bottom-0 end-0 p-3" style="display: none;" id="btnVoltarTopoContainer">
        <a href="#" class="btn btn-secondary" id="btnVoltarTopo">
            <i class="fas fa-arrow-up"></i>
        </a>
    </div>
    <script src="{{url_for('static', filename='js/dark_mode.js')}}"></script>
    <script src="{{url_for('static', filename='js/scroll-top.js')}}"></script>
    <script src="{{url_for('static', filename='jquery/jquery-3.7.1.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js')}}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>