<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='favicon/site.webmanifest')}}">
    <title>Atualizações do Sistema</title>

    <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"></head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Histórico de Atualizações</h1>
        <ul class="list-group list-unstyled">
            <li class="p-3"><strong>27/05/2024:</strong>
                <ul>
                    <li><strong>Critérios de correção:</strong> Todos os critérios de correção foram simplificados e colocados numa única função para facilitar a sua manutenção.</li>
                    <li><strong>Algumas funções tiveram seus nomes corrigidos:</strong> Algumas funções tiveram seus nomes corrigidos para facilitar a manutenção futura.</li>
                    <li><strong>Melhorias no padrão MVC:</strong> O sistema foi ajustado para se adequar melhor ao padrão MVC</li>
                    <li><strong>bootstrap:</strong> O Bootstrap agora funciona sem depender de conexão com a internet para melhorar a velocidade do sistema.</li>
                    <li><strong>Versão do jquery atualizada:</strong> Versão do jquery atualizada e agora funciona sem depender de conexão a internet também para maior estabilidade e velocidade.</li>
                    <li><strong>Nome do arquivo original:</strong> Agora nas informações do XML também é exibido o nome do arquivo enviado. </li>
                    <li><strong>Verificação de formato:</strong> Caso o arquivo não seja um xml será exibida uma mensagem de erro para o usuário.</li>
                </ul>
            </li>
            <li class="p-3"><strong>23/05/2024:</strong>
                <ul>
                    <li><strong>Cálculo do Somatório:</strong> O cálculo do somatório foi validado e está funcionando.</li>
                </ul>
            </li>
            <li class="p-3"><strong>22/05/2024:</strong>
                <ul>
                    <li><strong>Cálculo do Somatório:</strong> O cálculo do somatório foi solucionado nas guias de resumo de internação e está sendo validado.</li>
                    <li><strong>Adições na Interface:</strong> Foi adicionado nas telas um botão que exibe as informações de versão do sistema e o log de atualizações.  </li>
                </ul>
            </li>
            <li class="p-3"><strong>16/05/2024:</strong>
                <ul>
                    <li><strong>Correção de Bugs:</strong> Foram identificados e corrigidos diversos bugs relacionados à interface e ao processamento de dados.</li>
                    <li><strong>Guias de Resumo de Internação:</strong> Incluído suporte para guias de resumo de internação. Essa funcionalidade ainda está em fase de validação.</li>
                    <li><strong>Cálculo do Somatório:</strong> O cálculo do somatório foi solucionado nas guias de resumo de internação e está sendo validado.</li>
                    <li><strong>Melhorias na Interface:</strong> A interface do sistema passou por melhorias visuais e de usabilidade.</li>
                </ul>
            </li>
            <li class="p-3"><strong>14/05/2024:</strong>
                <ul>
                    <li><strong>Correção de Bugs:</strong> Mais correções foram realizadas para resolver problemas identificados anteriormente.</li>
                    <li><strong>Informações sobre Operadora e Tipo de Transação:</strong> O sistema agora também traz informações detalhadas sobre a operadora e o tipo de transação a partir dos dados XML.</li>
                </ul>
            </li>
            <li class="p-3"><strong>13/05/2024:</strong>
                <ul>
                    <li><strong>Suporte a Todas as Versões do TISS:</strong> Adicionado suporte para todas as versões do TISS na verificação de arredondamento.</li>
                    <li><strong>Padrão MVC:</strong> Melhorias na arquitetura do sistema, seguindo o padrão Model-View-Controller (MVC).</li>
                    <li><strong>Organização do Código:</strong> A leitura e organização do código-fonte foram aprimoradas.</li>
                    <li><strong>Atualização da Imagem Docker:</strong> A imagem Docker foi atualizada do Ubuntu 22.04 LTS para o Ubuntu 24.04 LTS.</li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- Botão flutuante para alternar modo claro/escuro-->
    <div class="position-fixed bottom-0 start-0 mb-3 ms-3">
        <button type="button" class="btn btn-primary border shadow" title="Alternar entre Modo Claro e Escuro" id="btnSwitch">
            <i class="fa-solid fa-circle-half-stroke fa-bounce"></i>
        </button>
    </div>
    <script src="{{url_for('static', filename='js/dark_mode.js')}}"></script>
    <script src="{{url_for('static', filename='jquery/jquery-3.7.1.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js')}}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
